body, html {
    height: 100%;
    margin: 0;
  }

#container {
    display: grid;
}  

.cell {
    border: 1px solid black;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    margin-left: 2px;
    margin-right: px;
};

